body {
  text-align: center;
  background-image: url("../assets/triangular.png");
  color: white;
}

#logo {
  max-height: 70px;
  margin: 40px;
  position: absolute;
  left: 10px;
}

.nav {
  margin: 20px;
}


.bar {
  background-color: blue;
  color: blue;
}

#profilePic {
  border-radius: 100px;
  max-height: 120px;
  margin-top: 30px;
  min-height: 120px;
}

.username {
  float: left;
  margin-top: 60px;
  margin-left: 20px;
}

#form {
  height: 350px;
  width: 400px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  background-color: #808080;
  box-shadow: 2px 2px 2px black;

}

.account {
  max-height: 80px;
}

.orgAccount {
  max-height: 100px;
}

.accounts {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  border-radius: 20px;
  border: 40px;
  background-color: #808080;
  height: 150px;
  box-shadow: 2px 2px 2px black;
}

a:hover {
  cursor: pointer;
  color: white;
}

a:link {
  color: black;
}

.profPic {
  border-radius: 100px;
  max-height: 120px;
  min-height: 120px;
  margin: 15px;
  float: left;
}

input {
  color: #808080;
}

.fbLogin {
  color: #3b5998;
}

.fbLogin:hover {
  color: white;
}

button {
  border-radius: 10px;
  background-color: #D2D7D3;
  border: 0;
  box-shadow: 2px 2px 2px black;
  width: 130px;
}

#logout {
  position: relative;
  left: 40%;
  top: 30px;
}